body{font-family: "Roboto", sans-serif;
 	margin:0;
 	padding:0;
 	background-color: white;
 	margin-right: -20px;
 	border-bottom: 3px solid #6D4C41;
}

#presentation{background-color:#BDBDBD;
	padding: 30px;
	text-align: center;
	margin-right: -20px;
}

img{width: 220px;
	height: 220px;
	border-radius: 50%;
	border: 5px solid #6D4C41;
	margin: 20px 365px;
	box-shadow: 3px 3px 5px #6D4C41;
}

h1{text-align: center;
	color:#6D4C41;
	font-size: 35px;
}

#container{width: 940px;
	margin:auto;
}

.menu{display: inline-block;
width:400px;
float:right;
vertical-align: baseline;
}

.menu li{list-style-type: none;
	margin-right: -100px;
	padding-top: 40px;
	font-size: 20px;
	text-decoration: none;
	float:right;
	display: inline-block;
	vertical-align: baseline;
}

.menu ul li a{width:400px;
	display:inline-block;
	float:right;
	background-color: white;
	color:black;
	text-decoration: none;
}

.menu li a:hover{ color:#6D4C41;
}

.part{display: inline-block;
	float:left;
	vertical-align: baseline;
	width: 400px;
	padding-left: 50px;
	padding-top: 30px;
}
.part p{background-color: white;
	display: inline-block;
	text-align: justify;
	vertical-align: baseline;
}

.part .paragraphe{
display:none;
}